body{
    background-color:rgb(149, 210, 240);
}

.homepage{
    display: flex;
    flex-direction: row;
    background-color: steelblue;
    border-radius: 15px;
}
.homepage section{
    background-color: azure;
    border-radius: 15px;
    margin: 10px
}
.dogcard{
    width: 500px;
    height: 500px;
    background-color: azure;
    border-radius: 15px;
    margin: 10px
}
.dogcard img{
    object-fit: cover;
}

.homemenu{
    border: 2px solid azure;
    border-radius: 10px;
    margin-bottom: 20px;
}
.homemenu button{
    margin: 1px;
}

@media(max-width:700px){
    .homepage{
        flex-direction: column;
    }
}